* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #e7e7e1;
}

:root {
  --font1: "Poppins", sans-serif;
  --headfont: "Nunito Sans", sans-serif;
  --beige: rgb(225, 225, 219);
  --text-color: #393632;
}

.page-1 {
  height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-top: 250px;
}

.main-content h1 {
  font-size: 5.75em;
  font-family: var(--headfont);
  -webkit-text-stroke: 4px;
  letter-spacing: 3px;
}

.main-content .greet {
  color: var(--text-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.main-content .name {
  color: var(--text-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.name .letter {
  display: inline-block;
  line-height: 1em;
  margin-top: 10px;
}

.greet .letter {
  display: inline-block;
  line-height: 1em;
  margin-top: -30px;
}

.logo svg {
  position: absolute;
  height: 100px;
  width: auto;
  top: 30px;
  left: 30px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}

.overlay-text h1 {
  font-family: var(--headfont);
  -webkit-text-stroke: 2px;
  padding-top: 14px;
  letter-spacing: 2px;
}

.navbar {
  position: absolute;
  bottom: 40px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: "Neue Montreal", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.page-2 {
  height: 110vh;
  width: 100%;
  background-color: black;
}

.page-3 {
  height: 110vh;
  width: 100%;
  background-color: pink;
}

.page-4 {
  height: 110vh;
  width: 100%;
  background-color: orange;
}

.page-5 {
  height: 110vh;
  width: 100%;
  background-color: red;
}
