* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #e7e7e1;
}

:root {
  --font1: "General Sans", sans-serif;
  --beige: rgb(225, 225, 219);
  --text-color1: #3d3a36;
  --text-color2: #67625c;
  --text-color3: #d1d0c6;
  --text-color4: #9c9c93;
}

@font-face {
  font-family: "Gilroy";
  src: url("/css/fonts/gilroy/Gilroy-Medium.ttf") format("ttf");

  font-family: "cabinet-grotesk";
  src: url(/css/fonts/cabinet-grotesk/Fonts/OTF/CabinetGrotesk-Extrabold.otf);
}

.page-1 {
  height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-top: 250px;
}

.main-content h1 {
  font-size: 5.65em;
  font-family: "cabinet-grotesk", sans-serif;
  font-weight: 800;
  -webkit-text-stroke: 2px;
  letter-spacing: 3px;
}

.main-content .greet {
  color: var(--text-color1);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.main-content .name {
  color: var(--text-color1);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.hero-about {
  padding-top: 32px;
  font-size: 22px;
  font-family: var(--font1);
  color: var(--text-color2);
  width: 35%;
  text-align: center;
  -webkit-text-stroke: 1px;
  letter-spacing: 0.3px;
  overflow: hidden;
}

.hero p span {
  display: inline-block;
  transform: translateY(100%);
}

.logo svg {
  position: absolute;
  height: 100px;
  width: auto;
  top: 30px;
  left: 30px;
  overflow: hidden;
}

.logo-svg {
  display: inline-block;
  transform: translateY(100%);
}

.github svg {
  height: 24px;
  width: auto;
  margin-top: 35em;
  color: var(--text-color1);
  z-index: 100;
  display: inline-block;
}
.linkedin svg {
  height: 24px;
  width: auto;
  margin-top: 38.5em;
  color: var(--text-color1);
  z-index: 100;
  display: inline-block;
}
.insta svg {
  height: 24px;
  width: auto;
  margin-top: 42em;
  color: var(--text-color1);
  z-index: 100;
  display: inline-block;
}

.warn {
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  top: -24em;
  left: -4em;
  z-index: 99;
}

.warn #rotate {
  font-family: "cabinet-grotesk";
  letter-spacing: 1px;
  background-color: var(--text-color1);
  color: #e7e7e1;
  display: inline-block;
  padding: 16px;
  transform-origin: bottom right;
  transform: rotate(-90deg) translateY(100%);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  z-index: 9999;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay-text h1 {
  font-family: var(--font1);
  -webkit-text-stroke: 1.2px;
  padding-top: 5px;
  letter-spacing: 3.2px;
  font-size: 2.8em;
  overflow: hidden;
}

.overlay-text h1 span {
  display: inline-block;
  transform: translateY(100%);
}

.overlay-name {
  color: var(--text-color3);
}

.overlay-year {
  color: var(--text-color4);
}

.nav {
  position: absolute;
  top: 35px;
  right: 42px;
  text-align: right;
}

ul {
  list-style: none;
}

.tabs > li {
  margin-bottom: 2px;
  font-size: 18px;
  font-family: var(--font1);
  color: var(--text-color);
  -webkit-text-stroke: 0.3px;
  letter-spacing: 0.3px;
}

.page-2 {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  border-radius: 30px;
  position: relative;
}

.page-2 .abt-me {
  display: flex;
  position: absolute;
  color: #9c9c9319;
  font-size: 6em;
  font-family: "cabinet-grotesk";
  -webkit-text-stroke: 1.2px;
  top: 0.5em;
  left: 0.2em;
  z-index: 99;
  transition: color 0.5s ease;
}
.abt-me:hover {
  color: var(--text-color3);
}

.my-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 12em;
}
.my-photo img {
  height: 40em;
  width: auto;
  z-index: 99;
  border-radius: 20px;
  position: relative;
  bottom: 10px;
  object-fit: cover;
  filter: brightness(7%);
  opacity: 0.9;
  transition: height 0.3s ease, width 0.3s ease;
}

.my-photo::after {
  content: url("data:image/svg+xml,%3Csvg width='255' height='365' viewBox='0 0 219 385' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-6.4373e-06 369.875C-6.4373e-06 378.548 8.00209 385.645 17.8081 384.953C130.621 376.993 219 294.05 219 192.5C219 90.9503 130.621 8.0066 17.8081 0.0467827C8.00209 -0.646144 -6.4373e-06 6.45197 -6.4373e-06 15.1243L-6.4373e-06 369.875Z' fill='%23191817'/%3E%3Cpath d='M1.66893e-05 327.489C1.66893e-05 334.09 6.36313 339.491 14.1607 338.964C103.867 332.907 174.145 269.784 174.145 192.5C174.145 115.216 103.867 52.0934 14.1607 46.0356C6.36313 45.5083 1.66893e-05 50.9102 1.66893e-05 57.5102L1.66893e-05 327.489Z' fill='%232F2F2B'/%3E%3C/svg%3E");
  position: absolute;
  top: 54px;
  right: 530px;
  width: 100px;
  height: auto;
  z-index: 8;
}

.my-photo::before {
  content: url("data:image/svg+xml,%3Csvg width='249' height='385' viewBox='0 0 249 385' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M219 15.1248C219 6.45192 210.998 -0.645253 201.192 0.0466565C88.3789 8.00674 0 90.9502 0 192.5C0 294.05 88.3789 376.993 201.192 384.953C210.998 385.646 219 378.548 219 369.876V15.1248Z' fill='%23191817'/%3E%3Cpath d='M219 57.5106C219 50.9101 212.637 45.5089 204.839 46.0355C115.133 52.0935 44.8554 115.216 44.8554 192.5C44.8554 269.784 115.133 332.907 204.839 338.964C212.637 339.492 219 334.09 219 327.49V57.5106Z' fill='%232F2F2B'/%3E%3C/svg%3E");
  position: absolute;
  top: 60px;
  left: 400px;
  width: 100px;
  height: auto;
}
.my-photo img:hover {
  height: 41.5em;
  width: auto;
  filter: brightness(90%);
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--text-color2);
  position: fixed;
}
.cursor-blur {
  height: 460px;
  width: 460px;
  border-radius: 50%;
  background-color: rgba(245, 245, 220, 0.18);
  position: fixed;
  filter: blur(30px);
  z-index: 98;
}

#about-section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-section p {
  width: 50%;
  color: #9c9c931f;
  font-size: 1.8em;
  font-family: var(--font1);
  margin: 0 6em;
  -webkit-text-stroke: 1.2px;
  z-index: 99;
  position: absolute;
  top: 2em;
  left: 20em;
  overflow: hidden;
  text-indent: 30px;
  line-height: 2.5rem;
  transition: color 0.7s ease;
}

#about-section p:hover {
  color: var(--text-color3);
}

#about-section p span {
  color: var(--text-color3);
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  bottom: 70px;
  margin-top: 24em;
  letter-spacing: 3px;
  z-index: 99;
}

.scroll {
  display: inline-block;
  white-space: nowrap;
  animation: scrolling 30s linear infinite;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  font-family: "gilroy", sans-serif;
  margin-right: 30px;
  transform: all linear 4s;
  color: transparent;
  -webkit-text-stroke: 2px #3d3a3676;
  transition: color 0.5s ease;
}

#scroller h4:hover {
  color: var(--text-color3);
}

@keyframes scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* .page-3 {
  height: 100vh;
  width: 100%;
  background-color: rebeccapurple;
}

.page-4 {
  height: 100vh;
  width: 100%;
  background-color: red;
}

.page-5 {
  height: 100vh;
  width: 100%;
  background-color: yellow;
} */
