* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #e7e7e1;
}

:root {
  --font1: "General Sans", sans-serif;
  --beige: rgb(225, 225, 219);
  --text-color1: #3d3a36;
  --text-color2: #7b756e;
}

@font-face {
  font-family: "Gilroy";
  src: url("/css/fonts/gilroy/Gilroy-Medium.ttf") format("ttf");

  font-family: "cabinet-grotesk";
  src: url(/css/fonts/cabinet-grotesk/Fonts/OTF/CabinetGrotesk-Extrabold.otf);
}

.page-1 {
  height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-top: 250px;
}

.main-content h1 {
  font-size: 5.65em;
  font-family: "cabinet-grotesk", sans-serif;
  font-weight: 800;
  -webkit-text-stroke: 2px;
  letter-spacing: 3px;
}

.main-content .greet {
  color: var(--text-color1);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.main-content .name {
  color: var(--text-color1);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.name .letter {
  display: inline-block;
  line-height: 1em;
  margin-top: 10px;
}

.greet .letter {
  display: inline-block;
  line-height: 1em;
  margin-top: -30px;
}

.hero-about {
  padding-top: 32px;
  font-size: 22px;
  font-family: var(--font1);
  color: var(--text-color2);
  width: 35%;
  text-align: center;
  -webkit-text-stroke: 1px;
  letter-spacing: 0.3px;
}

.logo svg {
  position: absolute;
  height: 100px;
  width: auto;
  top: 30px;
  left: 30px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay-text h1 {
  font-family: var(--font1);
  -webkit-text-stroke: 1.2px;
  padding-top: 5px;
  letter-spacing: 3.2px;
  font-size: 2.8em;
}

.overlay-name {
  color: var(--beige);
}

.overlay-year {
  color: var(--text-color2);
}

.navbar {
  position: absolute;
  bottom: 40px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: "Neue Montreal", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.nav {
  position: absolute;
  top: 35px;
  right: 42px;
}

ul {
  list-style: none;
}

.tabs > li {
  margin-bottom: 2px;
  font-size: 18px;
  font-family: var(--font1);
  color: var(--text-color);
  -webkit-text-stroke: 0.3px;
  letter-spacing: 0.3px;
}

.page-2 {
  height: 100vh;
  width: 100%;
  background-color: black;
  border-radius: 30px;
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--text-color2);
  position: fixed;
}
.cursor-blur {
  height: 460px;
  width: 460px;
  border-radius: 50%;
  background-color: rgba(245, 245, 220, 0.2);
  position: fixed;
  filter: blur(30px);
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  top: 100px;
}

#scroll {
  display: inline-block;
  color: white;
  white-space: nowrap;
  animation: scrolling 30s linear infinite;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  font-family: "gilroy", sans-serif;
  margin-right: 30px;
  transform: all linear 4s;
  color: transparent;
  -webkit-text-stroke: 2px var(--text-color1);
}

#scroller h4:hover {
  color: beige;
}

@keyframes scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
