* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Poppins", sans-serif;
  --headfont: "Nunito Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(225, 225, 219);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.bubble1 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(184, 184, 169, 0.6);
  position: absolute;
  top: 70px;
  left: 60px;
}

.bubble2 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: rgb(209, 209, 199);
  position: absolute;
  top: 95px;
  left: 50px;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-right: 3em;
}

a {
  color: #393632;
  text-decoration: none;
  margin: 5px 15px 0 0;
  font-size: 1.1em;
  font-family: var(--font1);
  font-weight: 600;
}

.hero {
  font-family: var(--headfont);
  width: 100%;
  font-size: 3.3em;
  font-weight: 900;
  letter-spacing: -1.5px;
  -webkit-text-stroke: 5px;
  margin-top: 50px;
  text-align: center;
  line-height: 2.5em;
}

.hi {
  margin-right: 4em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.name {
  margin-left: 2.1em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-caption {
  text-align: center;
  font-family: var(--font1);
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  transform: translateY(80px);
  transition: transform 1s;
}

.hero-caption .place {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-caption .work {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}
